.menu-left{
    padding-left: 1vw;
    padding-right: 4.5vw;
}
.menu-right{
    padding-right: 1vw;
}
.logo{
    justify-content: center;
    align-items: center;
}
.high{
    height: 5vh;
}
body{
    margin: 0;
}
.wrapper-logo{
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: none;
    height: 8vh;
    width: 100vw;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
}
.menu-right > a{
    text-decoration: none;
    color: black;
}
button{
    border-radius: 20px;
}
.tela1-login{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.login-left{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-right: 1.5vw;
}
.login-right{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 1.5vw;
}
.card-login{
    width: 70%;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    outline: none;
}
.textfield{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.btn-login-entrar{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 26px;
    border: 1px solid black;
}
button{
    cursor: pointer;
}
.menu-left > button{
    background-color: rgb(255, 255, 255);
    border: none;
}
.menu-right > button{
    background-color: rgb(255, 255, 255);
    border: none;
}
.menu-right > a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#menu{
    display: none;
}
.menu{
    background-color: rgb(255, 255, 255);
    margin-top: 7vh;
    height: 93vh;
    width: 30vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.menu-top{
    width: 80%;
}
.menu-bot{
    width: 80%;
}
.categorias{
    display: flex;
    width: 100%;
}
.categorias > div{
    margin-right: 10px;
    margin-bottom: 5px;
    width: 50%;
}   